@model LibrarySystem.Models.View.UserProfileView
@{
    ViewData["Title"] = "User";
}
<div class="container mt-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-7">

            <div class="card p-3 py-4" style=" background-color: #ebf2fa">

                <div class="text-center mb-4">
                    <img src="https://www.pngkey.com/png/full/73-730477_first-name-profile-image-placeholder-png.png" width="100" class="rounded-circle">
                </div>

                <div class="text-center mt-4 ">
                    @foreach(var item in Model.User.RoleUsers)
                    {
                    <span class="bg-secondary p-1 px-4 rounded text-white mb-4">@item.Role.Title  </span>
                    }
                    <div class=" ">
                        <div class=" mb-4 d-flex ">
                            <div class="card-body">
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Username</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="mb-0">@Model.User.Login </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="mb-0">@Model.User.Person.Firstname  @Model.User.Person.Lastname</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="mb-0">@Model.User.Person.Email</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class=" mb-0">@Model.User.Person.Phone</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Data of Birth</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class=" mb-0">@Model.User.Person.DateOfBirth.ToShortDateString()</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class=" mb-0">@Model.User.Person.Address</p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            
                        </div>
                        
                    @*<h5 class="mt-2 mb-4">@Model.Person.Firstname  @Model.Person.Lastname</h5>*@
                    @*<span>UI/UX Designer</span>*@

                   

                    @*<div class="buttons ">

                            <a class="btn btn-outline-primary px-4" asp-controller="Account" asp-action="EditProfile">Edit Profile</a>
                    </div>*@


                </div>




            </div>

        </div>

      </div>

   </div>
</div>