@model List<LibrarySystem.Models.Json.Menu>

<div class="btn-group navbar-nav">
    @foreach (var item in Model.Where(i => i.ParentId == null))
    {
        if (User.IsInRole("Admin") && item.Role == "Admin")
        {
            if (item.Url != null)
            {
                <a class="btn " href="@item.Url">@item.Title</a>
            }
            else
            {
                <a class="btn " data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" aria-haspopup="true">@item.Title</a>
                Template(item.Id);
            }
        }
        else if (User.IsInRole("User") && item.Role == "User")
        {
            if (item.Url != null)
            {
                <a class="btn " href="@item.Url">@item.Title</a>
            }
            else
            {
                <a class="btn " data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" aria-haspopup="true">@item.Title</a>
                Template(item.Id);
            }
        }
        else if (item.Role == null)
        {
            if (item.Url != null)
            {
                <a class="btn " href="@item.Url">@item.Title</a>
            }
            else
            {
                <a class="btn " data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" aria-haspopup="true">@item.Title</a>
                Template(item.Id);
            }
        }

       
    }
</div>

@{
    void Template(int? parentId)
    {
        var children = Model.Where(i => i.ParentId == parentId);
        if (children.Any())
        {
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside">
                @foreach (var child in children)
                {
                    <li class="btn-group ">
                        @if (child.Url != null)
                        {
                            <a class="btn dropright" href="@child.Url" > @child.Title </a>
                        }
                        else
                        {
                             <a class="btn dropright  "  data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                            @child.Title
                        </a>
                            Template(child.Id);
                        }
                       
                    </li>
                      
                }
            </ul>
        }
    }
}